// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.relleno-verde{
    background-color: #c8e25d;
    box-shadow: 4px 4px 4px #9EA69D;
}
.center{
  text-align: center;
}

.derecha{
  text-align: right;
}

.relleno-rojo{
  background-color: #F88407;
}

.texto-blanco{
  color: white;
}

.texto-verde{
  color: #c8e25d;
  font-weight: bold;
}

.centrarHV {
  position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
